name: Mirroring Repository

on: [push, delete]

jobs:
  to_github:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1.1.1
        with:
          target_repo_url:
            git@github.com:logictensornetworks/LTNtorch.git
          ssh_private_key:
            ${{ secrets.PRIVATE_KEY }}
